commit.time
target.mk
.*.sw*

*.autobug
*.cc.csv

*.pdf

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.RData
*.Rlog
*.r
.Rhistory

*.wrapR.*

local.mk

data

testdir/
.testdir/
subclone_dir/

*.makestuff
up.time
